<ul id="sw_footL">
    <li>
        &#169;@DateTime.Now.Year <a href="http://haacked.com/" title="Phil's Blog">Phil Haack</a>
    </li>
    <li>
        Image is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" title="BY-NC-SA">Creative Commons BY-NC-SA 2.0</a> by <a href="http://www.flickr.com/photos/29865701@N02/3098050871/in/photostream/">Stella VM</a>.
    </li>
    <li>
        <em class="disclaimer">This site is not affiliated with Microsoft nor Bing.com.</em>
    </li>
</ul>