<div id="hp_bottomCell">
    <footer id="b_footer" class="b_footer" role="contentinfo" aria-label="Footer" data-priority="0">
        <div id="b_footerItems">
            <span>&#169;@DateTime.Now.Year <a href="https://github.com/mateusrodrigues/letmebingthatforyou" title="LMBTFY GitHub Repo" target="_blank">LMBTFY</a> This site is not affiliated with Microsoft or Bing.com</span>
            <ul>
                <li>Image provided by <a href="https://source.unsplash.com/" title="Unsplash Source" target="_blank">Unsplash Source</a></li>
            </ul>
        </div>
    </footer>
</div>