@page "/"
@using System.Net;

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div id="bgDiv">
</div>

<div id="sbox" class="sw_sform">
    <div class="hp_sw_logo hpcLogoWhite">
        <h1 class="a11yhide">Bing</h1>
        Bing
    </div>
    <div class="search_controls">
        <a id="hpinsthk" aria-hidden="true" tabindex="-1" href="javascript:void(0)" h="ID=SERP,5093.1"><span></span></a>
        <form action="/Home/GenerateUrl" role="none" id="sb_form" class="sw_box">
            <div class="b_searchboxForm" role="search">
                <input @bind="SearchQuery" class="b_searchbox" id="sb_form_q" name="q" title="Enter your search term" type="search" maxlength="1000" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
                <div id="sbicom_loader" style="display:none" data-ptn="Homepage" data-iid="SERP.5096" data-evt="postRBComplete"></div>
                <div id="sb_go_par" data-sbtip="Request Link">
                    <button @onclick="@(() => DisplayModal())" class="b_searchboxSubmit" id="sb_form_go" tabindex="0" name="go"></button>
                </div>
            </div>
        </form>
        <div class="instructions"><span>Type in a question and click the search button</span></div>
    </div>
    <div id="lmbtfyResult">
        
    </div>
</div>

<div class="shader_left"></div>
<div class="shader_right"></div>

@code
{
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    public string? SearchQuery { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeAsync<IJSObjectReference>(
            "import", "./Pages/Index.razor.js");
    }

    private void DisplayModal()
    {
        var parameters = new ModalParameters().Add("Query", SearchQuery ?? string.Empty);

        Modal.Show<GenerateUrl>(string.Empty, parameters);
    }
}