@inherits LayoutComponentBase

<DynamicBackground />

<table id="hp_table" role="none">
    <tbody>
        <tr>
            <td id="hp_cellCenter" class="hp_hd">
                <div id="hp_container">
                    @Body
                    @* Footer *@
                    <div id="hp_bottomCell">
                        <footer id="b_footer" class="b_footer" role="contentinfo" aria-label="Footer" data-priority="0">
                            <div id="b_footerItems">
                                <span>&#169;@DateTime.Now.Year LMBTFY - This site is not affiliated with Microsoft or Bing.com</span>
                                <span><a href="https://github.com/mateusrodrigues/letmebingthatforyou" title="LMBTFY GitHub Repo" target="_blank"><i class="fab fa-github"></i></a></span>
                                <span>|</span>
                                <span><a asp-action="About" style="margin-right: 0">About</a></span>
                                <ul>
                                    <li>Image provided by <a href="https://source.unsplash.com/" title="Unsplash Source" target="_blank">Unsplash Source</a></li>
                                </ul>
                            </div>
                        </footer>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
