.let_me {
    MARGIN: -35px 30px 10px -10px;
    WIDTH: 125px;
    FONT-FAMILY: Segoe UI, Arial, Helvetica, Sans-Serif;
    FONT-SIZE: large;
}

.that_for_you {
    CLEAR: both;
    MARGIN: -2px 30px 5px 10px;
    WIDTH: 125px;
    FONT-FAMILY: Segoe UI, Arial, Helvetica, Sans-Serif;
    FONT-SIZE: large;
}

#lmbtfyResult {
    MARGIN: 50px 100px 30px 100px;
    background-color: #fff;
    WIDTH: 700px;
    HEIGHT: 200px;
    padding: 5px;
    display: none;
    text-align: center;
    FONT-FAMILY: Segoe UI, Arial, Helvetica, Sans-Serif;
    background: url("../images/resultbg.png");
    background-repeat: repeat-x;
    border-top: 10px solid #FFA814;
}

    #lmbtfyResult,
    #lmbtfyResult a,
    #lmbtfyResult a.active,
    #lmbtfyResult a.visited {
        color: Black;
    }

.step1,
.step2,
.step3,
.step4 {
    display: none;
}

#fake_mouse {
    display: none;
    position: absolute;
    z-index: 9999;
}

.center {
    text-align: center;
}

#lmbtfyLink {
    font-size: 2em;
    color: White;
    background: url('../images/buttonbg.png');
    background-repeat: repeat-x;
    height: 50px;
    display: block;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    overflow: hidden;
    border: 0;
}

#bodyFull {
    background: url(http://www.bing.com/fd/s/a/j.png) #fff repeat-x 0px -83px;
    background-color: White;
    height: 100%;
}

#bgDivFull {
    height: 140px;
    background-size: 100%;
}

#bingLogoFull {
    position: absolute;
    display: block;
    left: 20px;
    top: 60px;
}

    #bingLogoFull .let_me {
        position: absolute;
        display: block;
        left: 0px;
        top: 0px;
        FONT-SIZE: medium;
    }

    #bingLogoFull .sw_logo {
        position: absolute;
        display: block;
        left: 0px;
        top: -12px;
    }

    #bingLogoFull .that_for_you {
        position: absolute;
        display: block;
        left: -10px;
        top: 16px;
        FONT-SIZE: medium;
    }

#contentFull {
    margin-left: 20px;
    border: 0;
    color: Black;
    FONT-FAMILY: Segoe UI, Arial, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

    #contentFull p {
        width: 400px;
    }

    #contentFull,
    #contentFull a,
    #contentFull a.active,
    #contentFull a.visited {
        color: Black;
    }

.disclaimer {
    color: #333;
    font-size: 1.1em;
}

.hosting {
    display: block;
    clear: both;
    float: right;
}

    .hosting a {
        color: #777;
        font-size: 1.1em;
        font-style: italic
    }

.brand {
    color: #459;
}

body ul.credits li a {
    text-decoration: underline;
    color: #77c;
    font-weight: bold;
}

.instructions {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fafafa;
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
    border: solid 1px #000;
    background-color: #445566;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    position: relative;
    height: 2em;
}

    .instructions span {
        position: absolute;
        top: 5px;
        left: 20px;
        filter: alpha(opacity=100);
        -moz-opacity: 1.0;
        opacity: 1.0;
    }

.steps {
    padding-left: 8px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #333333;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loading-logo {
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
}

.loading-svg {
    width: 100%;
    height: 100%;
}

.loading-circle {
    animation: dash 1.5s ease-in-out infinite;
}

.loading-text {
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
