@{
    ViewBag.Title = "About Let me Bing that for you!";
}

@section Header {
    <meta name="description" content="About Let me Bing that for you! and it's authors." />
}

<div id="bodyFull">
    <div id="bgDivFull"></div>

    <div id="contentFull">
        <h1>About <span class="brand">Let me Bing that for you</span>!</h1>
        <p>
            Despite what our well intentioned teachers told us in elementary school,
            <em>there is such a thing as a stupid question</em>. And stupid questions deserve
            snarky answers.
        </p>
        <p>
            <span class="brand">Let me Bing that for you</span> is for all those people that love
            to bother you with their question rather than simply Bing it themselves. While answering
            such questions in a funny manner, you&#8217;re also educating those people on how to use
            search. &#8220;Teach a man to fish&#8221; as they say. :)
        </p>
        <ul class="credits">
            <li>Development: <a href="https://blog.maartenballiauw.be/" title="Maarten's Blog" target="_blank">Maarten Balliauw</a>, <a href="http://hanssens.org/" title="JHannsen's blog" target="_blank">Juli&euml;n Hanssens</a>, <a href="http://haacked.com/" title="You've been Haacked" target="_blank">Phil Haack</a>, <a href="https://mateus.tech/" title="Mateus's Blog" target="_blank">Mateus de Morais</a></li>
            <li>Inspiration: <a href="https://www.lmgtfy.com" title="Let me Google that for you" target="_blank">Let me Google that for you</a></li>
            <li>Contact: <a href="https://mateus.tech/contact/" title="Contact Mateus" target="_blank">Mateus de Morais</a></li>
        </ul>
        <p class="disclaimer">
            <strong><em>Let me Bing that for you is in no way associated with Microsoft nor Bing.</em></strong>
            It&#8217;s just something we did for fun.
        </p>
        <p class="copyright">
            The Bing image and logo is copyright &#169; @DateTime.Now.Year Microsoft.
        </p>

    </div>
</div>
