@{
    ViewBag.Title = "Let me Bing that for you!";
    var query = new HtmlString(Ajax.JavaScriptStringEncode(ViewBag.Question));
}

@section Header {
    <script type="text/javascript">
        var query = unescape('@query');
    </script>
    <script type="text/javascript" src="/scripts/lmbtfy.js"></script>
}

<img src="/Content/mouse_pointer.gif" id="fake_mouse" style="display: none;" alt="Fake Mouse Pointer" />
    
<div class="sc_grad">
    <div>
    </div>
</div>
    
<table class="layout">
    <tr>
        <td align="center" class="layout">
            <div id="sw_hdr">
                <div class="sw_tb">
                    <div style="clear: both">
                    </div>
                </div>
                <div class="sw_tbb">
                </div>
            </div>
            <div id="container">
                <div class="content_wrap">
                    <div id="content">
                        <div id="sw_content">
                            <div class="sw_sform">
                                <div class="let_me">
                                    Let me</div>
                                <div class="sw_logo">
                                    Bing
                                </div>
                                <div class="that_for_you">
                                    that for you!</div>
                                <div class="sw_mbrand">
                                </div>
                                <div class="beta">
                                </div>
                                <div class="search_controls">
                                    <form method="get" class="sw_box" id="sb_form" action="http://www.bing.com/search">
                                    <div class="sw_bd">
                                        <div class="sw_b">
                                            <input class="sw_qbox" id="sb_form_q" name="q" title="Enter your search term" type="text"
                                                value="" />
                                            <input class="sw_qbtn" id="sb_form_go" name="go" tabindex="0" title="Search" type="submit"
                                                value="" />
                                        </div>
                                        <div id="sw_as">
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div id="lmbtfyResult" style="background-color: #fff;">
                                    <div>
                                        <h1>Let me Bing that for you!</h1>
                                        <h2 class="step1">
                                            Here's how you can do it yourself...</h2>
                                        <ul class="steps">
                                            <li class="step2">1. Navigate to <a href="http://www.bing.com">Bing.com</a></li>
                                            <li class="step3">2. Enter your search query</li>
                                            <li class="step4">3. Click the button and behold the results!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="bgDiv">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sb_foot">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </td>
    </tr>
</table>
