@{
    ViewBag.Title = "Let me Bing that for you!";
}

<div id="bgDiv">
    
</div>
<div id="sbox" class="sw_sform">
    <div class="hp_sw_logo hpcLogoWhite">
        <h1 class="a11yhide">Bing</h1>
        Bing
    </div>
    <div class="search_controls">
        <a id="hpinsthk" aria-hidden="true" tabindex="-1" href="javascript:void(0)" h="ID=SERP,5093.1"><span></span></a>
        <form method="get" action="/Home/GenerateUrl" role="none" id="sb_form" class="sw_box">
            <div class="b_searchboxForm" role="search">
                <input class="b_searchbox" id="sb_form_q" name="q" title="Enter your search term" type="search" value="" maxlength="1000" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
                <div id="sbicom_loader" style="display:none" data-ptn="Homepage" data-iid="SERP.5096" data-evt="postRBComplete"></div>
                <div id="sb_go_par" data-sbtip="Request Link"><input type="submit" class="b_searchboxSubmit" id="sb_form_go" tabindex="0" name="go"></div>
            </div>
        </form>
        <div class="instructions"><span>Type in a question and click the search button</span></div>
    </div>
    <div id="lmbtfyResult"></div>
</div>
<div class="shader_left"></div>
<div class="shader_right"></div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var searchForm = $("#sb_form");
            var searchQuery = $("#sb_form_q");
            var searchResult = $("#lmbtfyResult");

            searchForm.submit(function (e) {
                if (searchQuery.val() != "") {
                    searchResult.load(
                        searchForm[0].action + '?q=' + escape(searchQuery.val()),
                        function (result) {
                            searchResult.show("bounce", "fast");
                        });
                }
                e.preventDefault();
            });
        });
    </script>
}

@*@section Header {
        

        <script type="text/javascript">
            $(function () {
                var searchForm = $("#sb_form");
                var searchQuery = $("#sb_form_q");
                var searchResult = $("#lmbtfyResult");

                searchForm.submit(function (e) {
                    if (searchQuery.val() != "") {
                        searchResult.load(
                            searchForm[0].action + '?q=' + escape(searchQuery.val()),
                            function (result) {
                                searchResult.show("bounce", "fast");
                            });
                    }
                    e.preventDefault();
                });
            });
        </script>
    }

    <div class="sc_grad"><div></div></div>

    <table class="layout">
        <tr>
            <td align="center" class="layout">
                <div id="sw_hdr">
                    <div class="sw_tb">
                        <div class="sw_tb_content">
                            &nbsp;&nbsp;@Html.ActionLink("LMBTFY", "Index")
                            &nbsp;|&nbsp;&nbsp;@Html.ActionLink("About...", "About")
                        </div>
                        <div style="clear:both">
                        </div>
                    </div>
                    <div class="sw_tbb">
                    </div>
                </div>
                <div id="container">
                    <div class="content_wrap">
                        <div id="content">
                            <div id="sw_content">
                                <div class="sw_sform">
                                    <div class="let_me">Let me</div>
                                    <div class="sw_logo">
                                        Bing
                                    </div>
                                    <div class="that_for_you">that for you!</div>
                                    <div class="sw_mbrand">
                                    </div>
                                    <div class="beta">
                                    </div>
                                    <div class="search_controls">
                                        <form method="get" class="sw_box" id="sb_form" action="/Home/GenerateUrl">
                                            <div class="sw_bd">
                                                <div class="sw_b">
                                                    <input class="sw_qbox" id="sb_form_q" name="q" title="Enter your search term" type="text" value="" />
                                                    <input class="sw_qbtn" id="sb_form_go" name="go" tabindex="0" title="Search" type="submit" value="" />
                                                </div>
                                                <div class="instructions"><span>Type in a question and click the search button</span></div>
                                                <div id="sw_as">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="lmbtfyResult"></div>
                                </div>
                                <div id="bgDiv">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sb_foot">
                        @await Html.PartialAsync("_Footer")
                    </div>
                </div>
            </td>
        </tr>
    </table>*@